@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:200,300,400');
$dark: #222F47;
$blue1: #0079C2;
$blue2: #7CE7FF;
$grey: #EFF0F9;
$white: #FFFFFF;

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}

.home {
  margin-top: 50px;

  hr {
    background-color: $blue2;
    height: 1px;
  }

  .welcome {

    ._title {
      font-family: "Montserrat", sans-serif;
      font-size: 45px;
      font-weight: 300;
    }

    .username {
      color: $blue1;
    }

    p {
      font-family: "Raleway", sans-serif;
      line-height: 35px;
      margin-top: 15px;

      a {
        color: $blue1;
      }
    }
  }

  .small {
    margin-top: 40px !important;
    width: 300px !important;

    ._icon {
      color: $blue1;
      font-size: 50px;
    }

    .text {
      font-size: 15px;
      font-weight: 500;
    }

  }

  .block {
    width: 350px;
    margin: auto;
    text-align: center;
    background: #fff;
    padding: 30px;
    box-shadow: 1px 3px 7px 0px #828282;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
    
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    ._icon {
      color: $blue1;
    }

    .text {
      display: block;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }
}

h1 {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 200;
}

.edit_profile {

  .columns {
    margin-top: 20px;
  }

  .p_text {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }

  .picture {
    text-align: center;
    padding: 20px;
    background-color: $blue1;
    width: 450px;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;

    ._icon {
      color: $grey;
      margin-bottom: 20px;
      font-size: 115px;
    }

    .file {
      width: fit-content;
      margin: auto;
    }

    .file-name {
      color: $grey;
    }

    .file-cta {
      background-color: $grey;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    ._button {
      background-color: $grey;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      float: none;
      color: $dark;
      margin-top: 20px;
      border: none;
      padding: 15px 25px;
      font-family: "Raleway", sans-serif;
      border-radius: 3px;
    }

    ._remove {
      background-color: #ff6e6e;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      float: none;
      color: #fff;
      margin-top: 20px;
      border: none;
      padding: 15px 25px;
      font-family: "Raleway", sans-serif;
      border-radius: 3px;
    }
  }
}

.form {

  .form_error{
    color: #ff6464;
    padding: 0;
    margin-top: -15px;
    margin-bottom: -10px !important;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 20px;
  }

  .fields {

    &:not(:last-child) {
      margin-top: 20px;
    }

    p {
      font-family: 'Raleway', sans-serif;
      margin-top: 7px;
    }

    label {
      font-family: 'Montserrat', sans-serif;
      color: $blue1;
      font-weight: 400;
      padding-left: 5px;
      font-size: 18px;
    }

    textarea, input, select {
      width: 100%;
      font-size: 23px;
      padding: 11px;
      border-radius: 3px;
      transition: .2s;
      border: 0;
      background-color: $white;
      color: $dark;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

      &:focus {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        outline: none;
      }
    }

  }

  button {
    background-color: $dark;
    float: right;
    border: none;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 3px 7px 0px #4e4e4e;
    border-radius: 3px;
    font-size: 21px;
    color: $grey;
    transition: .2s;
    font-weight: 200;
    cursor: pointer;
    padding: 12px 33px;
    margin-top: 50px;

    &:hover{
      box-shadow: none;
    }
  }

  .reset-password {
    margin-top: 5px;
    display: inline-block;
    border: 0;
  }

}

.not_found {

  text-align: center;
  margin-top: 50px;

  ._icon {
    font-size: 150px;
    color: $blue1;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 25vh;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $dark;
    font-size: 35px;
    font-weight: 300;
  }

  a {
    font-family: "Raleway", sans-serif;
    display: block;
    margin-top: 20px;
    color: $blue1;
    font-size: 25px;
    font-weight: 300;
  }
}

#user_profile {
  text-align: center;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 4px;

  .picture{
    border-radius:100%;
    height: 380px;
    display: block;
    margin: 30px auto 0px auto;
    overflow:hidden;
    width: 380px;
  }

  .username {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: block;
    color: $blue1;
    font-size: 50px;
    font-weight: 300;
  }

  .joined {
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: block;
  }

  .location {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: block;
    margin: 15px;
    font-size: 25px;
    color: $dark;
  }

  .description {
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: block;
    font-size: 20px;
    position: relative;
    z-index: 2;
  }


  .wrapper {
    margin: 25px auto;
    width: 50%;
    position: relative;
    font: 28px/36px "Trebuchet MS", Helvetica, sans-serif;
    background-color: $grey;
    padding: 35px;
    border-radius: 3px;
  }

  .social {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;

    svg {
      color: $blue1;
      font-size: 30px;
    }

    span {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .report {
    font-family: "Raleway", sans-serif;
    color: #ff7676;
    margin-top: 30px;
    display: block;
  }

  .quote { z-index: 1; position: absolute; color: $blue2; font-size: 220px; line-height:220px; }
  .quote.open { top: -31px; left: -25px; }
  .quote.close { bottom: -133px; right: -20px; }
}

.create_group {
  .subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
  }
}

.manage_group {
  .picture {
    text-align: center;
    padding: 20px;
    background-color: $blue1;
    width: 450px;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;

    ._icon {
      color: $grey;
      margin-bottom: 20px;
      font-size: 115px;
    }

    .file {
      width: fit-content;
      margin: auto;
    }

    .file-name {
      color: $grey;
    }

    .file-cta {
      background-color: $grey;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    ._button {
      background-color: $grey;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      float: none;
      color: $dark;
      margin-top: 20px;
      border: none;
      padding: 15px 25px;
      font-family: "Raleway", sans-serif;
      border-radius: 3px;
    }

    ._remove {
      background-color: #ff6e6e;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      float: none;
      color: #fff;
      margin-top: 20px;
      border: none;
      padding: 15px 25px;
      font-family: "Raleway", sans-serif;
      border-radius: 3px;
    }
  }
}

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "x";
  font-family: 'Raleway', sans-serif;
  background: $blue1;
  color: #fff;
  line-height: 10px;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
