@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK|Poppins|Titillium+Web&display=swap');
$light: #EFF0F9;

// Buttons

%kod_button {
  border: 1px solid #fff;
  font-family: 'Poppins', sans-serif;
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  svg {
    margin-left: 5px;
  }
}

.primary {
  @extend %kod_button;
  background-color: #0B7FC7;
  color: #fff;

  &:hover,
  &:active {
    background-color: #00a3e1;
  }
}

.secondary {
  @extend %kod_button;
  background-color: #778899;
  color: #fff;

  &:hover,
  &:active {
    background-color: #C0C0C0;
  }
}

.light {
  @extend %kod_button;
  background-color: $light;
  color: #0B7FC7;

  &:hover,
  &:active {
    background-color: #C0C0C0;
  }
}




.page-enter-active {
  animation: acrossIn .200s ease-out both;
}
.page-leave-active {
  animation: acrossOut .300s ease-in both;
}
@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    transition: opacity .55s;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}


.front-enter-active, .front-leave-active {
  transition: opacity .3s
}
.front-enter, .front-leave-active {
  opacity: 0
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .5s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}
